<launch>
  <arg name="turtlebot_model" default="$(env TURTLEBOT3_MODEL)"/>
  <arg name="gazebo_world" default="$(find indoor_layouts)/worlds/sample.sdf"/>
  <arg name="map_file" default="$(find indoor_layouts)/map/sample/sample_layout.yaml"/>
  <arg name="rviz_file" default="$(find indoor_layouts)/rviz/localization.rviz"/>

  <arg name="debug" default="true"/>
  <arg name="gui" default="false"/>
  <arg name="headless" default="false"/>
  <arg name="verbose" default="true"/>
  <arg name="open_rviz" default="false"/>

  <!-- launch the gazebo world -->
  <include file="$(find indoor_layouts)/launch/gazebo_world.launch">
    <arg name="world_file" value="$(arg gazebo_world)"/>
    <arg name="debug" default="$(arg debug)"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="headless" default="$(arg headless)"/>
    <arg name="verbose" default="$(arg verbose)"/>
  </include>

  <!-- spawn robot into gazebo -->
  <include file="$(find localization)/launch/turtlebot_spawn.launch" >
    <arg name="turtle_model" value="$(arg turtlebot_model)"/>
    <arg name="x_pos" default="0.0"/>
    <arg name="y_pos" default="-1.0"/>
    <arg name="z_pos" default="0.0"/>
    <arg name="r_ang" default="0.0"/>
    <arg name="p_ang" default="0.0"/>
    <arg name="y_ang" default="0.0"/>
  </include>

  <!-- map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- amcl -->
  <include file="$(find localization)/launch/amcl.launch">
    <arg name="initial_pose_x" default="0.0"/>
    <arg name="initial_pose_y" default="0.0"/>
    <arg name="initial_pose_a" default="0.0"/>
    <arg name="selective_resampling" default="true"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_file)"/>
  </group>

</launch>
