<launch>
  <arg name="turtle_model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="-1.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="r_ang" default="0.0"/>
  <arg name="p_ang" default="0.0"/>
  <arg name="y_ang" default="0.0"/>
  <arg name="multi_robot_name" default=""/>

  <!-- spawn robot -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg turtle_model).urdf.xacro"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -R $(arg r_ang) -P $(arg p_ang) -Y $(arg y_ang) -param robot_description"/>

  <include file="$(find turtlebot3_bringup)/launch/includes/description.launch.xml">
    <arg name="model" value="$(arg turtle_model)" />
  </include>

  <!-- publish robot state -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value="$(arg multi_robot_name)"/>
  </node>

</launch>
